*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:  "header"
                          "nav"
                          "main"
                          "article"
                           "footer";
    grid-template-rows: 1fr 2fr 3fr 2fr 1fr;
    gap: 10px;
}
header{
    grid-area: header;
    background-color: rgb(202, 47, 216);
    display: flex;
    align-items: center;
    justify-content: center;
}
header > h1{
    font-size: 50px;
    color: white;
}
nav{
    grid-area: nav;
}
nav div{
    padding: 10px;
    margin: 10px 0 0 0 ;
    background-color: aqua;
}
main{
    grid-area: main;
}
main p{
    line-height:2;
    font-size: 18px;
}
main h2{
    margin: 5px;
}
article{
    grid-area: article;
    background-color: antiquewhite;
    border: 1px solid aquamarine;
    padding: 20px;
}
article ul{
padding: 20px;
}
li{
    margin-top: 10px;
}

footer{
    grid-area: footer;
    background-color: aqua;
}
footer h4{
    color: white;
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width:600px){
    
    .container{
        grid-template-columns:1fr 3fr;
    }
   header{
    grid-area: 1/ span 2;
    }
   nav{
        grid-area: 2/1;
    }
    main{
        grid-area: 2/2;
    } 
    article{
        grid-area: 3/ span 2;
    }
    footer{
        grid-area: 4 /span 2;
    }
}

@media screen and (min-width:992px){
    .container{
        grid-template-columns: 1fr 4fr 2fr;
        grid-template-rows: 2fr 5fr 1fr;
    }
    header{
    grid-area: 1/ span 3;
    }
   nav{
        grid-area: 2/1;
    }
    main{
        grid-area: 2/2;
    } 
    article{
        grid-area: 2/3;
    }
    footer{
        grid-area: 3/ span 3;
    }

}